<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <renderField>
                <processor type="Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel">
                    <patch:attribute name="type">Sitecore.Pipelines.RenderField.GetImageFieldValueExtended, MultiMediaField</patch:attribute>
                </processor>
            </renderField>
        </pipelines>
        <controlSources>
            <source mode="on" namespace="Sitecore.Web.UI.WebControls" assembly="MultiMediaField" prefix="Image" />
        </controlSources>
        <commands>
            <command name="webedit:clearimage" type="Sitecore.Shell.Applications.WebEdit.Commands.ClearImage, MultiMediaField"/>
        </commands>
        <mediaLibrary>
            <mediaTypes>
                <mediaType name="Video" extensions="qt,avi,mpeg,mpg,ra,ram,rpm">
                    <mimeType>application/octet-stream</mimeType>
                    <forceDownload>false</forceDownload>
                    <sharedTemplate>system/media/unversioned/Video</sharedTemplate>
                    <versionedTemplate>system/media/versioned/Video</versionedTemplate>
                    <prototypes>
                        <media type="Sitecore.Resources.Media.Video, MultiMediaField" />
                        <mediaData type="Sitecore.Resources.Media.MediaData, Sitecore.Kernel" />
                    </prototypes>
                </mediaType>
                <mediaType name="Quicktime Video" extensions="mov">
                    <mimeType>video/quicktime</mimeType>
                    <forceDownload>false</forceDownload>
                    <sharedTemplate>system/media/unversioned/Video</sharedTemplate>
                    <versionedTemplate>system/media/versioned/Video</versionedTemplate>
                    <prototypes>
                        <media type="Sitecore.Resources.Media.Video, MultiMediaField" />
                        <mediaData type="Sitecore.Resources.Media.MediaData, Sitecore.Kernel" />
                    </prototypes>
                </mediaType>
                <mediaType name="Advanced Streaming Format" extensions="asf">
                    <mimeType>video/x-ms-asf</mimeType>
                    <forceDownload>false</forceDownload>
                    <sharedTemplate>system/media/unversioned/Video</sharedTemplate>
                    <versionedTemplate>system/media/versioned/Video</versionedTemplate>
                    <prototypes>
                        <media type="Sitecore.Resources.Media.Video, MultiMediaField" />
                        <mediaData type="Sitecore.Resources.Media.MediaData, Sitecore.Kernel" />
                    </prototypes>
                </mediaType>
                <mediaType name="Flash Video" extensions="flv">
                    <mimeType>video/x-flv</mimeType>
                    <forceDownload>false</forceDownload>
                    <sharedTemplate>system/media/unversioned/Video</sharedTemplate>
                    <versionedTemplate>system/media/versioned/Video</versionedTemplate>
                    <prototypes>
                        <media type="Sitecore.Resources.Media.Video, MultiMediaField" />
                        <mediaData type="Sitecore.Resources.Media.MediaData, Sitecore.Kernel" />
                    </prototypes>
                </mediaType>
                <mediaType name="Windows Media Audio" extensions="wma">
                    <mimeType>audio/x-ms-wma</mimeType>
                    <forceDownload>false</forceDownload>
                    <sharedTemplate>system/media/unversioned/Video</sharedTemplate>
                    <versionedTemplate>system/media/versioned/Video</versionedTemplate>
                    <prototypes>
                        <media type="Sitecore.Resources.Media.Video, MultiMediaField" />
                        <mediaData type="Sitecore.Resources.Media.MediaData, Sitecore.Kernel" />
                    </prototypes>
                </mediaType>
                <mediaType name="Windows Media Video" extensions="wmv">
                    <mimeType>video/x-ms-wmv</mimeType>
                    <forceDownload>false</forceDownload>
                    <sharedTemplate>system/media/unversioned/Video</sharedTemplate>
                    <versionedTemplate>system/media/versioned/Video</versionedTemplate>
                    <prototypes>
                        <media type="Sitecore.Resources.Media.Video, MultiMediaField" />
                        <mediaData type="Sitecore.Resources.Media.MediaData, Sitecore.Kernel" />
                    </prototypes>
                </mediaType>
            </mediaTypes>
        </mediaLibrary>
        <multimedia>
          <file extensions="gif|jpg|jpeg|png|bmp|tga" type="Sitecore.Web.UI.WebControls.ImageControl,MultiMediaField" />
          <file extensions="swf" type="Sitecore.Web.UI.WebControls.Flash,MultiMediaField" />
          <file extensions="qt|mov" type="Sitecore.Web.UI.WebControls.Quicktime,MultiMediaField" />
          <file extensions="ra|ram|rpm" type="Sitecore.Web.UI.WebControls.RealPlayer,MultiMediaField" />
          <file extensions="wma|avi|mpeg|mpg" type="Sitecore.Web.UI.WebControls.WindowsMediaPlayer,MultiMediaField" />
          <file extensions="flv|mp4" type="Sitecore.Web.UI.WebControls.FlvPlayer,MultiMediaField" />
          <file extensions="wmv|mp3|wav|ogg|asf" type="Sitecore.Web.UI.WebControls.SilverlightPlayer,MultiMediaField" />
        </multimedia>
    </sitecore>
</configuration>